extends layout

block content
    h2 Credits

    p
        a(href='http://thenounproject.com/term/hexagon/30707/') Hexagon icon
        |  designed by Chris Kerr from the Noun Project.
    p: a(href='//grafana.org/') Grafana
    p Twitter Bootstrap
    p Font is Rosario (link!)
