nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
    p.navbar-text.small
        a(href='/credits') Credits
        | &nbsp;// 
        a(href='https://github.com/ceejbot/numbat-analyzer') numbat-dash is a ceejbot production.
